.background{
    background-image: url("https://cdn.pixabay.com/photo/2016/10/14/19/21/canyon-1740973_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 91.5vh;
    justify-content: center;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    color: white;
    margin-top: 8%;
    
}

h6{
    color: white;
    
}

input{
    margin-top: 20px;
    width: 900px;
    padding: 25px;
    border-radius: 10px;
    border: none;
}

.searchBtn{
    margin-top: 20px;
    width: 250px;
    padding: 20px;
}